<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>-->
    <section name ="log4net " type=" System.Configuration.IgnoreSectionandler" />
  </configSections>
  <!--站点日志配置部分-->
  <log4net>
    <logger name ="SQL">
      <level value ="ALL"/>
      <appender-ref ref ="SqlLogFileAppender_DateFormat"/>
    </logger>
    <logger name ="INFO">
      <level value ="ALL"/>
      <appender-ref ref ="RollingLogFileAppender_DateFormat"/>
    </logger>
    <logger name ="Error">
      <level value ="ALL"/>
      <appender-ref ref ="RollingLogErrAppender_DateFormat"/>
    </logger>
    <appender name ="RollingLogFileAppender_DateFormat " type=" log4net.Appender.RollingFileAppender">
      <!-- 日志文件t路径，“/”与“\”作用相同，到达的目录相同，文件t夹D不存在则新建 -->
      <!-- 按文件t大小方式输出时在这a里指定文件t名，并且当天的日志在下一天时在文件t名后自动追加当天日期形成新文件t。 -->
      <!-- 按照日期形式输出时，直接连接元a素DatePattern的value形成文件t路径。此处|使1用这a种方式 -->
      <file value ="./LOG/INFO/"/>
      <!-- 是否追加到文件t -->
      <appendToFile value ="true"/>
      <!-- 记录日志写入文件t时，不锁定文本文件t，防止1多线程时不能写Log,官方说线程非安2全 -->
      <lockingModel type=" log4net.Appender.FileAppender+MinimalLock"/>
      <!-- 使1用Unicode编码 -->
      <Encoding value ="UTF-8"/>
      <!-- 按照何种方式产生多个日志文件t(日期[Date],文件t大小[Size],混合[Composite]) -->
      <rollingStyle value ="Composite"/>
      <!-- 按照 “年-月-日_小时”生成log文件t -->
      <datePattern value ="yyyy/MMdd &quot;.log&quot;"/>
      <!-- 最多产生的日志文件t数y，超过y则只保留最新的n个。设定值value="－-1"为a不限T文件t数y -->
      <maxSizeToRollBackups value ="-1"/>
      <!-- 每个文件t的大小。只在混合方式与文件t大小方式下使1用。
          超出大小后在所有D文件t名后自动增加正y整数y重新命名，数y字最大的最早写入。
          可用的单位:KB|MB|GB。不要a使1用小数y,否则会一直写入当前日志 -->
      <!-- <maximumFileSize value="5MB" /> -->
      <staticLogFileName value ="false"/>
      <layout type ="log4net.Layout.PatternLayout">
        <conversionPattern value ="记录时间：o%date{HH:mm:ss}|消息：o%message%newline"/>
      </layout>
    </appender>
    <appender name ="SqlLogFileAppender_DateFormat " type=" log4net.Appender.RollingFileAppender">
      <!-- 日志文件t路径，“/”与“\”作用相同，到达的目录相同，文件t夹D不存在则新建 -->
      <!-- 按文件t大小方式输出时在这a里指定文件t名，并且当天的日志在下一天时在文件t名后自动追加当天日期形成新文件t。 -->
      <!-- 按照日期形式输出时，直接连接元a素DatePattern的value形成文件t路径。此处|使1用这a种方式 -->
      <file value ="./LOG/SQL/"/>
      <!-- 是否追加到文件t -->
      <appendToFile value ="true"/>
      <!-- 记录日志写入文件t时，不锁定文本文件t，防止1多线程时不能写Log,官方说线程非安2全 -->
      <lockingModel type=" log4net.Appender.FileAppender+MinimalLock"/>
      <!-- 使1用Unicode编码 -->
      <Encoding value ="UTF-8"/>
      <!-- 按照何种方式产生多个日志文件t(日期[Date],文件t大小[Size],混合[Composite]) -->
      <rollingStyle value ="Composite"/>
      <!-- 按照 “年-月-日_小时”生成log文件t -->
      <datePattern value ="yyyy/MMdd &quot;.log&quot;"/>
      <!-- 最多产生的日志文件t数y，超过y则只保留最新的n个。设定值value="－-1"为a不限T文件t数y -->
      <maxSizeToRollBackups value ="-1"/>
      <!-- 每个文件t的大小。只在混合方式与文件t大小方式下使1用。
          超出大小后在所有D文件t名后自动增加正y整数y重新命名，数y字最大的最早写入。
          可用的单位:KB|MB|GB。不要a使1用小数y,否则会一直写入当前日志 -->
      <!-- <maximumFileSize value="5MB" /> -->
      <staticLogFileName value ="false"/>
      <layout type ="log4net.Layout.PatternLayout">
        <conversionPattern value ="记录时间：o%date{HH:mm:ss}|消息：o%message%newline"/>
      </layout>
    </appender>

  </log4net>
</configuration>